################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ISLA/1 Ano/Algoritmos e Estruturas de Dados/ConsoleApps/.vs/ConsoleApps/FileContentIndex/fb5f7e1e-8018-4a33-b081-3e314090cc7b.vsidx
*.vsidx
*.opendb
/.vs/slnx.sqlite
